/*-----------------------------------*\
 * style.css
\*-----------------------------------*/

/**
 * copyright 2024 
 */

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */
  --raw-seinna: #ff2c83;
  --sizzling-sunrise: #f9d81a;
  --scarlet: #ff6363;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */
  --ff-saira-stencil-one: "Saira Stencil One", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto: "Roboto", sans-serif;

  --fs-1: 2rem;
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
   * transition
   */
  --transition-1: 0.25s ease-in-out;

  /**
   * spacing
   */
  --section-padding: 80px;

  /**
   * radius
   */
  --radius-4: 4px;
  --radius-12: 12px;
}

/*-----------------------------------*\
 * #THEME COLORS
\*-----------------------------------*/

body.dark_theme {
  --bg-primary: #011627;
  --bg-secondary: #02111e;
  --color-primary: #d6deeb;
  --color-secondary: #80a4c2;
  --card-shadow: #00000066;
  --input-bg: hsl(0, 0%, 16%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
}

body.light_theme {
  --bg-primary: #e6e6e6;
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 12%);
  --color-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --input-bg: hsl(0, 0%, 93%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
time,
span,
input,
label,
select,
button,	extarea,
ion-icon {
  display: block;
}

input,
button,
select,	extarea {
  background: none;
  border: none;
  font: inherit;
}

button,
select {
  cursor: pointer;
}

input,	extarea {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

:is(a, button, select) {
  outline-color: var(--scarlet);
  outline-offset: 3px;
}

::selection {
  background: var(--color-primary);
  color: var(--bg-primary);
}

html {
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  transition: var(--transition-1);
}

body.active {
  overflow: hidden;
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 10px;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
  font-weight: 400;
}

.h2,
.h3,
.h4 {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.h4 {
  font-size: var(--fs-5);
}

.w-100 {
  width: 100%;
}

.btn {
  max-width: max-content;
  color: var(--color-primary);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: var(--radius-4);
  transition: var(--transition-1);
}

.btn-primary {
  border-color: var(--color-primary);
}

.btn-primary:is(:hover, :focus) {
  background: var(--color-primary);
  color: var(--bg-primary);
}

.btn-secondary {
  background: var(--raw-seinna);
  border-color: var(--raw-seinna);
  color: var(--black);
}

.btn-secondary:is(:hover, :focus) {
  --raw-seinna: hsl(24, 74%, 64%);
}

.section-subtitle {
  position: relative;
  color: var(--color-secondary);
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section-subtitle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 2px;
  background: var(--color-secondary);
}

.section-title {
  max-width: 350px;
  margin-bottom: 30px;
}

.section-text {
  color: var(--color-secondary);
  line-height: 1.8;
  margin-bottom: 30px;
}

/* แก้ไข: เพิ่ม CSS สำหรับจัดการระยะห่างระหว่างย่อหน้า */
.section-text + .section-text {
  margin-top: -15px; /* หรือปรับค่าตามความเหมาะสม */
}

.tooltip {
  position: absolute;
  top: -40px;
  background: var(--raw-seinna);
  min-width: max-content;
  color: var(--white);
  font-size: 15px;
  font-weight: var(--fw-700);
  padding: 5px 10px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  padding-block: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active {
  padding-block: 12px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  position: relative;
  min-width: 77px;
  z-index: 2;
}

.logo a {
  color: var(--color-primary);
  font-family: var(--ff-saira-stencil-one);
}

.logo span {
  display: inline-block;
  color: var(--raw-seinna);
  margin-left: 2px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.navbar-actions select {
  color: var(--color-primary);
  width: 45px;
}

.navbar-actions option {
  background: var(--bg-primary);
  color: var(--color-primary);
}

.theme-btn {
  padding: 4px;
  width: 48px;
  background: var(--bg-secondary);
  border-radius: 100px;
  transition: var(--transition-1);
}

.header.active .theme-btn {
  background: var(--bg-primary);
}

.theme-btn .icon {
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 9px -6px var(--color-primary);
  transition: var(--transition-1);
}

.theme-btn.active .icon {
  left: 20px;
  box-shadow: inset 20px -20px var(--sizzling-sunrise);
}

.nav-toggle-btn {
  position: relative;
  transform: rotate(-55deg);
  transition: var(--transition-1);
  z-index: 2;
}

.nav-toggle-btn.active {
  transform: rotate(-45deg);
}

.nav-toggle-btn span {
  width: 20px;
  height: 2px;
  background: var(--color-primary);
  margin: 5px;
  transition: var(--transition-1);
}

.nav-toggle-btn :is(.one, .three) {
  width: 10px;
}

.nav-toggle-btn .one {
  margin-left: auto;
  transform-origin: left;
}

.nav-toggle-btn .three {
  transform-origin: right;
}

.nav-toggle-btn.active .one {
  transform: rotate(90deg) translateX(-3px);
}

.nav-toggle-btn.active .three {
  transform: rotate(90deg) translateX(3px);
}

.navbar {
  position: fixed;
  background: var(--bg-secondary);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: 0.75s cubic-bezier(0.71, 0.01, 0.24, 0.99);
  transition-delay: 0.5s;
  z-index: 1;
}

.navbar.active {
  top: 0;
  visibility: visible;
  transition-delay: 0s;
}

.navbar-list > li {
  margin-block: 20px;
  padding-inline: 50px;
  overflow: hidden;
}

.navbar-link {
  position: relative;
  width: max-content;
  margin-inline: auto;
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 10px;
  transform: translateY(50px);
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
}

.navbar.active .navbar-link {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 5px;
  width: 0;
  background: var(--raw-seinna);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus)::before {
  width: 100%;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

main {
  overflow-x: hidden;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  margin-bottom: var(--section-padding);
}

.hero-banner {
  max-width: 500px;
  width: 125%;
  margin-bottom: 30px;
}

:is(.hero-social-list, .scroll-down) {
  display: none;
}

.hero-content {
  max-width: 450px;
}

.hero-title {
  text-align: center;
  margin-bottom: 30px;
}

.hero .btn-primary {
  margin-inline: auto;
}

/*-----------------------------------*\
 * #STATS
\*-----------------------------------*/

.stats {
  padding-block: var(--section-padding);
}

.stats-list {
  display: grid;
  gap: 30px;
}

.stats-card {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
}

.stats-card:is(:hover, :focus) {
  transform: translateY(-5px);
}

.stats-card .card-icon {
  background: var(--raw-seinna);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.stats-card .card-icon img {
  width: 70%;
  filter: invert(1);
}

.stats-card .card-title {
  width: calc(100% - 95px);
  color: var(--raw-seinna);
  text-align: center;
}

stats-card .card-title strong {
  display: block;
  color: var(--color-primary);
  font-size: initial;
  line-height: 1.3;
  margin-top: 5px;
}

/* ... (เนื้อหา CSS ต่อเนื่องจากไฟล์ต้นฉบับ) ... */